{
  "name": "[[.Name]]",
  "shape": "[[.Shape]]",
  "assets": {
    "entries": ["js/app.jsx"],
    "tailwind": {
      "input": "assets/css/app.css",
      "asset": "css/app.css"
    }
  },
  "migrations": "migrations"
}
